#SPDX-License-Identifier: MIT-0
---
- name: Install nginx
  ansible.builtin.package:
    name: nginx
    state: present

- name: Copy custom HTML file
  ansible.builtin.copy:
    src: index.html
    dest: /usr/share/nginx/html/index.html
    owner: root
    group: root
    mode: '0644'

- name: Deploy nginx config
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/conf.d/default.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart nginx

# tasks file for webserver_setup
